* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #ffc3e4;
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
  background: #fff;
}

.container {
  width: 1280px;
  margin: auto;
}

.title {
  text-decoration: none;
  color: #cf0067;
}

.title:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ff69b4;
}

#create_card {
  display: none;
  width: 370px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #ff50a8;
}

.fcTitle {
  text-align: center;
  opacity: 1;
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

textarea {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  resize: none;
  border-radius: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px;
  align-items: center;
  border: none;
}

textarea:focus {
  background-color: #ffc3e4;
  border: none;
}

.save,
.close {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #ff006a;
  border-radius: 5px;
  border: none;
  width: 150px;
  padding: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.close {
  background-color: #ff006a;
}

.close:hover {
  background-color: #e00063;
}

.flashcard {
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px;
  background: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard .front,
.flashcard .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
}

.flashcard .front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #fff;
}

.flashcard .back {
  transform: rotateY(180deg);
  background-color: #ffc3e4;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}
