@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #FFD3D3;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.fcTitle {
  text-align: center;
  color: #FF0090;
  font-size: 50px;
  margin-top: -5px;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Ajustar según sea necesario */
  margin-top: 20px;
}

.flashcard {
  width: 370px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.6s;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  width: 370px;
  height: 200px;
  backface-visibility: hidden;
  text-align: center;
  align-items: center;
}

.flashcard .front {
  text-align: center;
  color: #000000;
}

.flashcard .back {
  transform: rotateY(180deg);
  color: #FF0090;
}

.flashcard .text {
  font-size: 20px;
  text-align: center;
}

.form-section {
  width: 370px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #ff8dc6;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-section input,
.form-section button {
  display: block;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-section button {
  background-color: #FF0090;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 95%;
}

.form-section button:hover {
  background-color: #ffff;
  color: #FF0090;
  border: none;
  transition: 0.3s;
}

.form-section input {
  border-radius: 5px;
  border: none;
  overflow: scroll;
  width: 95%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
}

.form-section input:focus {
  border: none;
  overflow: scroll;
  background-color: #FFD3D3;
  font-family: 'Poppins', sans-serif;
}

/* estilos nav */
.title {
  color: #FF0090;
}

.title:hover {
  color: #ff8dc6;
  transition: 0.5s;
}

.notas,
.archivos,
.logout {
  /* background-color: #ebdc32; */
  color: #ff8dc6;
}

.flashcards {
  /* background-color: #897e00; */
  color: #FF0090;
}


.flashcards:hover,
.archivos:hover,
.notas:hover,
.logout:hover {
  background-color: #fff;
  color: #FFD3D3;
  transition: 0.5s;
}