@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #e48dff;
    font-family: 'Poppins', sans-serif;
    
}
.title{
    color: #8826a6;
}

.title:hover{
    color: #e48dff;
}

.flashcards, .archivos, .notas, .logout{
    color: #e48dff;
}


.flashcards:hover, .archivos:hover, .notas:hover, .logout:hover{ 
    color: #8826a6;
    transition: 0.5s;
}